<<<<<<< HEAD
<h1><%= @house.name.split.map(&:capitalize)*' ' %> Members from show</h1>
=======
<h1><%= @house.name.split.map(&:capitalize)*' ' %> Members</h1>
>>>>>>> 7eef255614a339e4d73edd8d9c60f426e9da9e70

<ul>
	<% @house.users.each do |user| %>
	<li><%= user.first_name %> <%= user.last_name %> | <%= link_to 'Add face', user_house_pictures_upload_path(user.id, @house.id) %></li>
	<% end %>
</ul>

<<<<<<< HEAD
<%= link_to 'back to profile', controller: 'users', action: 'dashboard' %>
=======
<%= link_to 'back to profile', controller: 'users', action: 'dashboard' %>
>>>>>>> 7eef255614a339e4d73edd8d9c60f426e9da9e70
