<h1>Welcome to the Dashboard</h1>

<h2>Your Houses</h2>
<h4>Click a house to view members</h4>
<ul>
<% @user.houses.each do |house| %>
	<li><%= house.name.split.map(&:capitalize)*' ' %> | <%= link_to 'add face', user_house_pictures_upload_path(current_user.id, house.id) %> | <%= link_to 'access house', user_house_pictures_matchPage_path(current_user.id, house.id) %> | <%=  link_to 'lock house', lock_path %></li>
<% end %>
</ul>

<%= link_to 'Add new house', new_user_house_path(current_user.id) %>