<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Peek</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="body">
  <header>
    <%= "Logo goes here" %>
  </header>
  <nav id="nav">
    <% if current_user %>
    Signed in as <%= current_user.first_name %> <%= current_user.last_name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <!-- <button class="md-trigger md-setperspective" data-modal="modal-19">Slip from top</button> -->
    <% end %>
  </nav>

  <%= yield %>

</body>
<footer>
  <%= "Copyright (c) 2016" %>
</footer>

</html>
